@font-face {
 font-family: 'Miami';
 src: local('miami'), url(./fonts/miami.otf) format('opentype');
}

@font-face {
 font-family: 'Dolly';
 src: local('dolly'), url(./fonts/dolly.otf) format('opentype');
}

@font-face {
 font-family: 'Willie';
 src: local('willie'), url(./fonts/willie.otf) format('opentype');
}

@font-face {
 font-family: 'Beverly Hills';
 src: local('beverly-hills'), url(./fonts/beverly-hills.otf) format('opentype');
}

@font-face {
 font-family: 'June';
 src: local('june'), url(./fonts/june.woff) format('woff');
}

@font-face {
 font-family: 'Bowie';
 src: local('bowie'), url(./fonts/bowie.otf) format('opentype');
}

@font-face {
 font-family: 'Hank';
 src: local('hank'), url(./fonts/hank.ttf) format('truetype');
}

@font-face {
 font-family: 'Jackson';
 src: local('jackson'), url(./fonts/jackson.otf) format('opentype');
}

@font-face {
 font-family: 'Long Beach';
 src: local('long-beach'), url(./fonts/long-beach.ttf) format('truetype');
}

@font-face {
 font-family: 'Palm Springs';
 src: local('palm-springs'), url(./fonts/palm-springs.otf) format('opentype');
}


@font-face {
 font-family: 'Presley';
 src: local('presley'), url(./fonts/presley.otf) format('opentype');
}

@font-face {
 font-family: 'San Francisco';
 src: local('sf'), url(./fonts/sf.ttf) format('truetype');
}

@font-face {
 font-family: 'Stevie';
 src: local('stevie'), url(./fonts/stevie.otf) format('opentype');
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #1e1d1f;
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  z-index: 1;
  justify-content: space-between;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editor .display-wrap {
    display: inline-block;
    position: relative;
}

.neon.white {
    color: #fff;
    text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #fff, 0 0 40px #fff, 0 0 40px #fff, 0 0 40px #fff;
  }

.neon.Peach {
  color: #ffb0b3;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #ffb0b3, 0 0 40px #ffb0b3, 0 0 40px #ffb0b3, 0 0 40px #ffb0b3;
}

.neon.Baby-Blue {
  color: #a3dbff;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #a3dbff, 0 0 40px #a3dbff, 0 0 40px #a3dbff, 0 0 40px #a3dbff;
}

.neon.Mint-Green {
  color: #99ffcc;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #99ffcc, 0 0 40px #99ffcc, 0 0 40px #99ffcc, 0 0 40px #99ffcc;
}

.neon.Warm-White {
  color: #fffff5;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #fffff5, 0 0 40px #fffff5, 0 0 40px #fffff5, 0 0 40px #fffff5;
}

.neon.Pink {
  color: #ff8fff;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #ff8fff, 0 0 40px #ff8fff, 0 0 40px #ff8fff, 0 0 40px #ff8fff;
}

.neon.Sky-Blue {
  color: #00ffff;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #00ffff, 0 0 40px #00ffff, 0 0 40px #00ffff, 0 0 40px #00ffff;
}

.neon.Green {
  color: #00c700;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #00c700, 0 0 40px #00c700, 0 0 40px #00c700, 0 0 40px #00c700;
}

.neon.Yellow {
  color: #ffff00;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #ffff00, 0 0 40px #ffff00, 0 0 40px #ffff00, 0 0 40px #ffff00;
}

.neon.Hot-Pink {
  color: #ff00ff;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #ff00ff, 0 0 40px #ff00ff, 0 0 40px #ff00ff, 0 0 40px #ff00ff;
}

.neon.Electric-Blue {
  color: #0080ff;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #0080ff, 0 0 40px #0080ff, 0 0 40px #0080ff, 0 0 40px #0080ff;
}

.neon.Forest-Green {
  color: #007500;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #007500, 0 0 40px #007500, 0 0 40px #007500, 0 0 40px #007500;
}

.neon.Orange {
  color: #ffb300;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #ffb300, 0 0 40px #ffb300, 0 0 40px #ffb300, 0 0 40px #ffb300;
}

.neon.Red {
  color: #ff0000;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #ff0000, 0 0 40px #ff0000, 0 0 40px #ff0000, 0 0 40px #ff0000;
}

.neon.Lilac {
  color: #b3b3ff;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #b3b3ff, 0 0 40px #b3b3ff, 0 0 40px #b3b3ff, 0 0 40px #b3b3ff;
}

.neon.Purple {
  color: #7a2aa9;
  text-shadow: 1px 2px 7px rgba(0, 0, 0, 0.35), 0 0 40px #7a2aa9, 0 0 40px #7a2aa9, 0 0 40px #7a2aa9, 0 0 40px #7a2aa9;
}


.led.peach {

}

.led.baby-blue {

}

.led.mint-green {

}

.led.warm-white {

}

.led.pink {

}

.led.sky-blue {

}

.led.green {

}

.led.yellow {

}

.led.hot-pink {

}

.led.electric-blue {

}

.led.forest-green {

}

.led.orange {

}

.led.red {

}

.led.lilac {

}

.led.purple {

}


.sign {
  text-shadow: 1px 2px 10px rgba(1, 72, 4, 0.3), 0 0 45px #76f199, 0 0 45px #76f199, 0 0 45px #76f199, 0 0 45px #76f199;
  font-size: 50px;
  color: yellow;
  font-size: 10vh;

  &--Miami {
    font-family: 'Miami';
    font-size: 10vh;
  }
  &--Dolly {
    font-family: 'Dolly';
    font-size: 10vh;
  }

  &--Presley {
    font-family: 'Presley';
    font-size: 10vh;
  }

  &--Jane {
    font-family: 'Jane';
    font-size: 10vh;
  }

  &--Stevie {
    font-family: 'Stevie';
    font-size: 10vh;
  }

  &--Willie {
    font-family: 'Willie';
    font-size: 10vh;
  }

  &--Jackson {
    font-family: 'Jackson';
    font-size: 10vh;
  }

  &--Palm-Springs {
    font-family: 'Palm Springs';
    font-size: 10vh;
  }

  &--Beverly-Hills{
    font-family: 'Beverly Hills';
    font-size: 10vh;
  }

  &--San-Francisco {
    font-family: 'San Francisco';
    font-size: 10vh;
  }

  &--Long-Beach{
    font-family: 'Long Beach';
    font-size: 10vh;
  }

  &--Hank {
    font-family: 'Hank';
    font-size: 10vh;
  }

  &--Bowie {
    font-family: 'Bowie';
    font-size: 10vh;
  }
}

.fontBar {
  overflow-y: scroll;
  color: black;
  width: 100vw;
  height: 40vh;
  vertical-align: baseline;
  background: #fff;
  position: relative;
  min-height: 200px;
  bottom: 0;
}

.fontBar * {
  padding: 1vh;
  padding-left: 10px;
}

.option {
    height: 30%;
    max-height: 80px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    background-color: #f2f2f2;

  &--Miami {
    font-family: 'Miami';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Dolly {
    font-family: 'Dolly';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Presley {
    font-family: 'Presley';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Jane {
    font-family: 'Jane';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Stevie {
    font-family: 'Stevie';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Willie {
    font-family: 'Willie';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }


  &--Palm-Springs {
    font-family: 'Palm Springs';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Beverly-Hills{
    font-family: 'Beverly Hills';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--San-Francisco {
    font-family: 'San Francisco';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Long-Beach{
    font-family: 'Long Beach';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Hank {
    font-family: 'Hank';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Bowie {
    font-family: 'Bowie';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }

  &--Jackson {
    font-family: 'Jackson';
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
  }
}

.selected {
    height: 22%;
    max-height: 50px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    color: black;
    transition: background 0.2s ease-in-out;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    background-color: #f2f2f2;

    &--Miami {
      font-family: 'Miami';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Dolly {
      font-family: 'Dolly';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Presley {
      font-family: 'Presley';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Jane {
      font-family: 'Jane';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Stevie {
      font-family: 'Stevie';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Willie {
      font-family: 'Willie';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Jackson {
      font-family: 'Jackson';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;
    }

    &--Palm-Springs {
      font-family: 'Palm Springs';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Beverly-Hills{
      font-family: 'Beverly Hills';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--San-Francisco {
      font-family: 'San Francisco';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Long-Beach{
      font-family: 'Long Beach';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Hank {
      font-family: 'Hank';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;

    }

    &--Jackson {
      font-family: 'Jackson';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;
    }

    &--Bowie {
      font-family: 'Bowie';
      height: 22%;
      max-height: 50px;
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      transition: background 0.2s ease-in-out;
      border-bottom: 1px solid #eee;
      border-top: 1px solid #eee;
      background-color: #f2f2f2;
    }
}

#continueButton {
  -webkit-appearance: none;
    border: 0;
    outline: none;
    background-color: #333;
    border-radius: 0;
    display: block;
    height: 50px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1em;
    letter-spacing: 0.125em;
    transition: color 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.35s ease-in-out;
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    font-weight: 900;
    text-align: center;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
