.colorBar {
  overflow-y: scroll;
  color: black;
  width: 100vw;
  height: 40vh;
  vertical-align: baseline;
  position: relative;
  min-height: 200px;
  bottom: 0;
}

.colorCircle {
  width: 45px;
  height: 45px;
  border-radius: 50%
}

#Cool-White {
  background-color: #fff;
}

#Peach {
  background-color: #ffb0b3;
}

#Baby-Blue {
  background-color: #a3dbff;
}

#Mint-Green {
  background-color: #99ffcc;
}

#Warm-White {
  background-color: #fffff5;
}

#Pink {
  background-color: #ff8fff;
}

#Sky-Blue {
  background-color: #00ffff;
}

#Yellow {
  background-color: #ffff00;
}

#Hot-Pink {
  background-color: #ff00ff;
}

#Electric-Blue {
  background-color: #0080ff;
}

#Forest-Green{
  background-color: #007500;
}

#Orange {
  background-color: #ffb300;
}

#Red {
  background-color: #ff0000;
}

#Lilac {
  background-color: #b3b3ff;
}

#Purple {
  background-color: #7a2aa9;
}
