@font-face {
 font-family: 'Miami';
 src: local('miami'), url(./fonts/miami.otf) format('opentype');
}

@font-face {
 font-family: 'Dolly';
 src: local('dolly'), url(./fonts/dolly.otf) format('opentype');
}

@font-face {
 font-family: 'Willie';
 src: local('willie'), url(./fonts/willie.otf) format('opentype');
}

@font-face {
 font-family: 'Beverly Hills';
 src: local('beverly-hills'), url(./fonts/beverly-hills.otf) format('opentype');
}

@font-face {
 font-family: 'June';
 src: local('june'), url(./fonts/june.woff) format('woff');
}

@font-face {
 font-family: 'Bowie';
 src: local('bowie'), url(./fonts/bowie.otf) format('opentype');
}

@font-face {
 font-family: 'Hank';
 src: local('hank'), url(./fonts/hank.ttf) format('truetype');
}

@font-face {
 font-family: 'Jackson';
 src: local('jackson'), url(./fonts/jackson.otf) format('opentype');
}

@font-face {
 font-family: 'Long Beach';
 src: local('long-beach'), url(./fonts/long-beach.ttf) format('truetype');
}

@font-face {
 font-family: 'Palm Springs';
 src: local('palm-springs'), url(./fonts/palm-springs.otf) format('opentype');
}


@font-face {
 font-family: 'Presley';
 src: local('presley'), url(./fonts/presley.otf) format('opentype');
}

@font-face {
 font-family: 'San Francisco';
 src: local('sf'), url(./fonts/sf.ttf) format('truetype');
}

@font-face {
 font-family: 'Stevie';
 src: local('stevie'), url(./fonts/stevie.otf) format('opentype');
}
